html {
	background-image:url('other_background.jpg');
}

#categoryBar {
	position:absolute;
	margin-top:100px;
	color: white;
	background:#062c3f;
	border:none;
	font-family:"Denk One";
	margin-left:180px;
	background:#062c3f;
}

#nextPhoto {
	cursor:pointer;
}

#prevPhoto {
	cursor:pointer;
}

#searchButton:focus {outline:none;} ::-moz-focus-inner {border:0;}

.category {
	display:block; 
	color: white;
	font-family:"Denk One";
	padding:10px;
	padding-left:20px;
	margin-right:0px;
	background:#062c3f;
}

.logo {
	margin-left:400px;
}

h3 {
	padding-left:10px;
}

.category:hover {
	background:#41738e;
	cursor:pointer;
}

#navBar {
	text-align:center;
	position:absolute;
	border:none;
    display:block;
    width: 70%;
    height:40px;
    margin-left:180px;
    background:#062c3f;
}

#search {
	float:right;
	margin-top:10px;
	margin-right:100px;
	position:absolute;
}

#searchButton {
	background:url('search2.png') no-repeat;
	position:absolute;
	cursor:pointer;	
	width: 200px;
	height: 100px;
	border: none;
	margin-top:-30px;
	margin-left:20px;
}

#photoBooth {
	position:absolute;
	margin-top: 60px;
	padding: 10px;
	width: 650px;
	float:right;
	margin-left:325px;
    background-color: none;
	border-radius: 2px;
}	

.nav_item {
	color:white;
	margin-left:10px;
	font-family:"Denk One";
	float:left;
	text-decoration: none;
	margin-top:10px;
}

#slideShow {	
	position: relative; /*to contain position: absolute children*/
}
.photoHolder {
	position: relative;
	/*display: inline-block;*/
	width: 518px;
	margin-left: auto;
	margin-right: auto;
}
.moreIndicator {
	position: absolute;
	z-index: 3;
	opacity: .8;
	top: 0px;
	cursor:pointer;
}

.thumbnail {
	position: relative;
	box-shadow: 1px 3px 20px 0px #062c3f;
	cursor:pointer;
}

/*This make the 2nd image not take up any space and be beneath its previous sibling image*/
.thumbnail:nth-child(2) {
	position: absolute;
	top: 0px;
}

/*This class should be used for the Gallery Photo that is on top*/
.topPhoto { z-index: 2;}

/*This class should be used for the Gallery Photo that is on bottom*/
.bottomPhoto {z-index: 1;}

.details p { 
	margin-top: 20px; 
}

.details {
	border: 2px #41738e solid; 
	padding: 0px 10px; 
	margin: 20px 0px;
	font-family:"Denk One";
	color:white;
}

/*Add CSS styles to rotate the element 90deg
Make it animate nicely. You'll need CSS3 for this*/
.rot90 {
	-webkit-transition: all 1s ease;
	-webkit-transform:rotate(90deg);
}

/*Add CSS styles to rotate the element 180deg
Make it animate nicely. You'll need CSS3 for this*/
.rot180 {
	-webkit-transform:rotate(180deg);
}

/*Add CSS styles to rotate the element 270deg
Make it animate nicely. You'll need CSS3 for this*/
.rot270 {
	-webkit-transition: all 1s ease;
	-webkit-transform:rotate(270deg)
}