@font-face {
	font-family:"Custom Font";
	src:  url(SuperClarendon.ttc);
}

body {
	font-family:"Custom Font";
}

#login, #createAccount{
	width:50%;
	margin-left: auto;
	margin-right: auto;
}

#logo{
    display: block;
    margin-left: auto;
    margin-right: auto; 
    width:70%;
    height:70%;
}

