#contactInfo{
	position:absolute;
	border: solid 2px;
	top:190px;
	left:550px;
}

header *{
	text-align: center;
}

#listing {
	margin-left:400px;
	margin-top:200px;
	border: solid 2px;
}


#searchButton:focus {outline:none;} ::-moz-focus-inner {border:0;}