body > div {
	border-width:5px;
	border-style:solid;
	margin-top: 10px;
	margin-bottom:10px;
	padding-bottom:10px;
	width: 65%;
	margin-right: auto;
	margin-left: auto;
}

#accountNav{
	float:left;
	border-width:2px;
	border-style:solid;
}

#accountNav a{
	display: block;
}

#categoryBar {
	margin-left:190px;
	margin-top:15px;
	padding-left:30px;
	padding-right:30px;
	border:solid 10px;
	color: #161a3f;
	padding-bottom:140px;
}

.logo{
    display: block;
    margin-left: auto;
    margin-right: auto; 
    width:70%;
    height:70%;
    padding-top:20px;
}