body > div {
	border-width:5px;
	border-style:solid;
	margin-top: 10px;
	margin-bottom:10px;
	padding-bottom:10px;
	width: 65%;
	margin-right: auto;
	margin-left: auto;
}

#accountNav{
	float:left;
	border-width:2px;
	border-style:solid;
}

#accountNav a{
	display: block;
}
