
html {
	font-family:"Denk One";
}

#listing {
	width:50%;
	margin-right:auto;
	margin-left:auto;
	border: solid 2px;
	color:white;

}

#results {
	position:absolute;
	display:inline-block;
	margin-top: 25px;
	border:none;
	color: #161a3f;
    margin-left: 270px;
    padding:10px;
    color:white;
}

#listingTable {
	margin-right: auto;
	margin-left: auto;
}

#filterButtons {
	display:block;
	width:662px;
	color:white;
}